
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif;
}

body {
  padding: 30px;
}

button {
  box-shadow: 4px 4px black;
  font-weight: bold;
}

.line {
  width: 25%;
  height: 5px;
  margin-bottom: 20px;
  background-color: black;
}

/* Header */

h1 {
  text-align: center;
}

/* Books section */

#books_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 500px;
  margin: 40px auto;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.book > p {
  padding: 5px 10px;
  font-weight: bold;
}

.book > button {
  padding: 5px 10px;
}

.book:nth-child(odd) {
  background-color: rgb(209, 208, 208);
}

/* Add book form */

#add_book_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  align-items: center;
  width: 300px;
  margin: 2% auto;
}

#add_book_form > input {
  font-size: 15px;
  padding: 5px;
  width: 100%;
  border: 2px solid black;
}

#add_book_form > button {
  font-size: 15px;
  padding: 5px 20px;
  align-self: flex-end;
}
